.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 10px;
	z-index: 5;

	&._scroll{
		.header__wrapper{
            background: rgb(12, 12, 12);
        }
		.header__content{
			min-height: 70px;
			@media (max-width: $md3+px){
			   min-height: 50px;
			}
		}
		.menu__body{
			@media (max-width: $md3+px){
				padding: 90px 0px 20px 0px;
			}
			&:before{
				@media (max-width: $md3+px){
					height: 50px;
				}
			}
		}
	}

	
    &__wrapper {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 50;
        transition: all .3s ease-in-out;
    }

		&__content {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
			min-height: 100px;
			@media (max-width: $md3+px){
			   min-height: 70px;
			}
			transition: all .3s ease-in-out;
		}

		&__main {
			display: flex;
			align-items: center;
		}

		&__logo {
            width: 112px;
			position: relative;
			z-index: 10;
			@media (max-width: $md4+px){
			   width: 100px;
			}
            img{
                width: 100%;
                height: auto;
                object-fit: contain;
            }
		}

		&__time {
			display: flex;
			align-items: center;
			@include adaptiv-value('margin-left', 37, 30, 1);
			font-size: 16px;
            color: rgba(255, 255, 255, 0.75);
             &:before{
                color: $red;
                font-size: 20px;
				margin: 0px 13px 0px 0px;
            }
			@media (max-width: $md2+px){
			   display: none;
			}
		}

		&__menu {
		}
}

.menu {
	display: flex;
	align-items: center;
		&__body {
			@media (max-width: $md3+px){
			   position: fixed;
			   top: 0;
			   width: 100%;
			   height: 100%;
			   background: #111;
			   right: 100%;
			   z-index: 5;
			   padding: 120px 0px 20px 0px;
			   overflow: auto;
			   transition: all .3s ease-in-out;
			}

			&:before{
               content: '';
               position: fixed;
               width: 100%;
               height: 70px;
               top: 0;
               right: 100%;
               background: rgb(12, 12, 12);
               transition: all .3s ease-in-out;
               z-index: 2;

           }

		    &._active{
               right: 0;
                &:before{
                   right: 0;
               }
           }
		}

		&__list {
			display: flex;
			align-items: center;
			@media (max-width: $md3+px){
				flex-direction: column;
			}

			li{
				&:not(:last-child){
				  margin: 0px 63px 0px 0px;
				}
				@media (max-width: $md3+px){
					&:not(:last-child){
					  margin: 0px 0px 63px 0px;
					}
				}
			}
		}

		&__link {
			color: rgba(255, 255, 255, 0.75);
			position: relative;
			@media (max-width: $md3+px){
			   font-size: 20px;
			}
			 &:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: -4px;
				width: 100%;
				height: 1px;
				background: rgba(255, 255, 255, 0.75);
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				transition: all .3s ease-in-out;
			}
			@media(any-hover: hover){
				&:hover{
					 &:before{
						content: '';
						bottom: -1px;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		&__btn {
		}
}
