.workout {
    @include adaptiv-value('padding-top', 155, 60, 1);
    @include adaptiv-value('padding-bottom', 155, 60, 1);

		&__main {
            display: flex;
            flex-direction: column;
            align-items: center;
		}

		&__title {
            font-weight: 600;
            @include adaptiv-value('font-size', 48, 30, 1);
            color: rgba(255, 255, 255, 0.75);
            text-align: center;
            @include adaptiv-value('margin-bottom', 30, 20, 1);
		}

		&__descr {
            font-size: 18px;
            @include adaptiv-value('font-size', 18, 15, 1);
            line-height: 144%;
            text-align: center;
            letter-spacing: 0.05em;
            color: rgba(255, 255, 255, 0.75);
            max-width: 790px;
            @include adaptiv-value('margin-bottom', 30, 20, 1);
		}

		&__line {
            img{
                @include adaptiv-value('width', 165, 120, 1);
            }
            @include adaptiv-value('margin-bottom', 110, 80, 1);
		}

        &__label{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 28px;
            color: rgba(255, 255, 255, 0.75);
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-in-out;

             &:before{
                content: '';
                position: absolute;
                top: 15px;
                left: 15px;
                width: 20px;
                height: 20px;
                border-top: 2px solid $light-red;
                border-left: 2px solid $light-red;
            }

             &:after{
                content: '';
                position: absolute;
                bottom: 15px;
                right: 15px;
                width: 20px;
                height: 20px;
                border-bottom: 2px solid $light-red;
                border-right: 2px solid $light-red;
            }
        }

		&__items {
            display: flex;
            margin: 0px 0px 185px 0px;
            @include adaptiv-value('margin-bottom', 185, 80, 1);
            @media (max-width: $md3+px){
                flex-wrap: wrap;
                justify-content: space-between;
            }
		}

		&__item {
            flex: 0 0 20%;
            position: relative;
            @media (min-width: $md3+px){
                &:nth-child(even){
                    transform: translateY(70px);
                }
            }

            @media (max-width: $md3+px){
               flex: 0 0 33.333%;
               &:nth-child(2){
                   transform: translateY(50%);
               }
            }

            @media(any-hover: hover){
                &:hover{
                    .workout__label{
                        opacity: 1;
                        visibility: visible;
                    }
                    img{
                        filter: grayscale(1);
                    }
                }
            }

            img{
                width: 100%;
                height: auto;
                object-fit: contain;
                transition: all .3s ease-in-out;
            }
		}

		&__plan {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: $md3+px){
               flex-direction: column;
               align-items: flex-start;
            }
		}

		&__subtitle {
            font-weight: 600;
            @include adaptiv-value('font-size', 36, 24, 1);
            line-height: calc(44 / 36);
            color: rgba(255, 255, 255, 0.75);
            flex: 0 0 363px;
            padding: 0px 20px 0px 0px;
            @media (max-width: $md2+px){
               flex: 0 0 40%;
            }
            @media (max-width: $md3+px){
               padding: 0px 0px 25px 0px;
            }
		}

		&__text {
            @include adaptiv-value('font-size', 18, 15, 1);
            line-height: 156%;
            letter-spacing: 0.05em;
            color: rgba(255, 255, 255, 0.75);
            flex: 0 0 715px;
            padding: 0px 0px 0px 15px;
            border-left: 2px solid $red;

            @media (max-width: $md1+px){
                flex: 1 1 auto;
               br{
                   display: none;
               }
            }
		}
}
