// colors
$white: #fff;
$red: #A92A1D;
$light-red: #E74C3C;
// main font
$fontFamily: 'Monserrat', sans-serif;
// sizes
$width: 1300;
$minWidth: 320px;
$maxWidth: 1600;
$md1: $width + 20;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;